* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #ececec;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.calendar {
    width: 470px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header button {
    width: 45px;
    height: 40px;
    border: none;
    background: #2196F3;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border-radius: 8px;
}

.header button:hover {
    background: #1976d2;
}

#month {
    font-size: 24px;
}

.weekdays,
.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.weekdays div {
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
}

.weekend-name {
    color: #8b0000;
}

.day,
.empty {
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-size: 18px;
}

.day {
    background: #f4f4f4;
}

.empty {
    background: transparent;
}

.work {
    background: #8fdcff;
}

.off {
    background: #184d91;
    color: white;
}

.weekend {
    color: #8b0000 !important;
    font-weight: bold;
}

.today {
    border: 3px solid #ff9800;
}

.legend {
    margin-top: 20px;
    display: grid;
    gap: 8px;
}

.box {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    vertical-align: middle;
}

.red{
    color:#8b0000;
    font-size:18px;
}
